* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: 'input-serif';
  background-color: $body-bg;
  color: $text-primary;
  font-size: 16px;
}

.app {
  position: relative;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
