$text-primary: rgba(0, 0, 0, 0.9);
$text-secondary: rgb(254, 254, 254);
$dark-primary: rgb(34, 34, 34);

$green: rgb(104,205,134);
$white: #FFFFFF;
$notification-red: rgb(239, 150, 143);

$body-bg: rgb(254, 254, 254);
