.btn-add {
  border: 1px solid $green;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 10px;
  cursor: pointer;
  transition-duration: .3s;

  &:hover {
    background-color: $green;
    color: $white;
  }
}
