.notification-wrapper {
  position: fixed;
  top: 10px;
  left: calc(50% - 200px);
  width: 95%;
  max-width: 400px;
  z-index: 1000;

  .notification {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 5px;
    transition: all .5s;
    color: white;
    cursor: pointer;

    p {
      max-width: 430px;
      font-weight: normal;
      font-size: 18px;
      padding-left: 15px;
    }

    .notification-icon {
      width: 35px;
      height: 35px;
      background-color: white;
      border-radius: 50%;

      &.success-icon,
      &.failure-icon  {
        &::before,
        &::after {
          display: inline-block;
          content: '';
        }
      }

      &.success-icon {
        &::before {
          transform: rotate(45deg);
          height: 20px;
          width: 9px;
          margin-top: 2px;
          margin-left: 9px;
          border-bottom: 5px solid $text-primary;
          border-right: 5px solid $text-primary;
        }
      }

      &.failure-icon {
        position: relative;

        &::before,
        &::after {
          position: absolute;
          top: 15px;
          left: 3px;
          width: 28px;
          height: 5px;
          background-color: $notification-red;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .failure {
    background-color: $notification-red;
    border: 2px solid rgb(233, 107, 98);
  }

  .succes {
    background-color: $green;
    border: 2px solid $green;
  }

  .notifications-enter,
  .notifications-leave-to {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@media (max-width: 420px) {
  .notification-wrapper {
    left: 7px;

    .notification {
      padding: 4px;
    }
    .notification-icon {
      min-width: 35px;
    }
  }
}
